<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>User page</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">게시판</a></li>
        <li><a href="/user">회원기능</a></li>
      </ul>
    </nav>
    <ul>
      <li>
        <a href="/user/logout">Logout</a>
      </li>
    </ul>
  </div>
  <script src="/js/user.js"></script>
</body>
</html>